.cardContainer {
  /* border-radius: 7px; */
  margin: 50px;
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: column;
  /* flex-flow: wrap; */
}
.title {
  background-color: rgb(161, 191, 199);
  font-weight: bold;
  border: 1px solid rgb(134, 115, 115);
  border-radius: 7px 7px 0 0;
  border-bottom: 0px;
  padding: 5px;
}
.description {
  background-color: rgb(161, 191, 199);
  border: 1px ridge rgb(134, 115, 115);
  border-radius: 0 0 7px 7px;
  padding: 15px;
}
